#ccMessageBoxContainer{
    height: 93%;
    background: #292929;
}

.startChatBtn{
    background-color: #7a5aa6; 
    width: 100%;
    padding: 15px;
    color: #ffffff; 
}

.color-background {
    background: #3e59a5 !important;
}